body{
    background:black;
    text-align: center;
}

.header {
    font-family: 'Russo One', sans-serif;
    font-size: 5vw;
    background: linear-gradient(45deg, #fe6b8b, #ff8e53, #ffeb3b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.container{
    display: flex;
    justify-content:center;
    margin-top:5%;
}

.rock, .paper, .scissors{
    font-family: 'Russo One', sans-serif;
    color:white;
    border-radius: 12px;
    width:13%;
    margin-right:5%;
    /* background: linear-gradient(45deg, #9c27b0, #673ab7, #3f51b5); */
    background-color: #3f51b5;
    border: 2px solid #ffffff00;
    padding: 0px;
}

.rock:hover, .paper:hover, .scissors:hover{
    font-family: 'Russo One', sans-serif;
    /* transform: scale(1.1); */
    box-shadow: 0 0 10px #f5f4f5, 0 0 20px #f6f6f7, 0 0 30px #3f51b5;
    background: linear-gradient(45deg, #fe6b8b, #ff8e53, #ffeb3b);
    color:#3f51b5;
    border: 2px solid #ededf1;
    transition: all 0.2s ease-in-out;
}

.innerText{
    padding-top:5%;
    font-size: 2vw;
}

.image{
    width: 70%;
    border-radius: 27px;
    margin:0% 2% 2% 2%;
    margin-bottom: 12%;
}

.text{
    color:white;
    margin:0%;
    margin-top:5%;
}





