/* Body and text styles */
body{
    background:black;
    text-align: center;
    color: #ededf1;
}

body h1 {
    color: white;
    margin: 0%;
    margin-top: 5%;
    font-size: 3vw;
}

/* Title */
.header {
    font-family: 'Russo One', sans-serif;
    font-size: 5vw;
    background: linear-gradient(45deg, #fe6b8b, #ff8e53, #ffeb3b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

/* buttons styling */
.container{
    display: flex;
    justify-content:center;
    margin-top:3%;
    margin-bottom:5%;
}

.rock, .paper, .scissors{
    font-family: 'Russo One', sans-serif;
    color:white;
    border-radius: 12px;
    width:13%;
    background-color: #3f51b5;
    border: 2px solid #ffffff00;
    padding: 0px;
}

.rock , .paper{
    margin-right:5%;
}

.rock:hover, .paper:hover, .scissors:hover{
    font-family: 'Russo One', sans-serif;
    box-shadow: 0 0 10px #f5f4f5, 0 0 20px #f6f6f7, 0 0 30px #3f51b5;
    background: linear-gradient(45deg, #fe6b8b, #ff8e53, #ffeb3b);
    color:#3f51b5;
    border: 2px solid #ededf1;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.innerText{
    padding-top:5%;
    font-size: 2vw;
}

.image{
    width: 70%;
    margin:0% 2% 2% 2%;
    margin-bottom: 12%;
}

/* results  */

/* flexbox */
.displayResults{
    display: flex;
    align-items: stretch;
    justify-content: center;
}

/* flex item 1 and 3 */
.playerScore , .computerScore{
    flex-basis: 12%;
    background-color: #ffeb3793;
    color:black;
    padding: 1%;
    text-align: center;
    font-weight: bold;
    border-radius: 4%;
}
/* flex item 2 */
.divider {
    width: 1px;
    background-color: #ccc;
    margin: 0 20px;
}

.player, .computer {
    color:black;
    border-radius: 4%;
    border-bottom: 2px solid #020307;
    padding: 2%;
    font-weight: bold;
    font-size: larger;
}

/* avatar */
.avatar{
    width: 70%;
    margin: 0% 2% 2% 2%;
    margin-bottom: 2%;
}

/* rows */
.column1, .column2{
    border: 1px solid #ccc;
    margin:3%;
}



